body {
    background-color: rgb(20, 17, 17);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    color: aliceblue;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#message {
    display: inline-block;
    width: 20%;

}

button:hover {
   color: antiquewhite;
   background-color: steelblue; 
}

#colorDisplay {
    font-size: 200%;
}
#stripe {
    background-color: antiquewhite;
    height: 30px;
    text-align: center;
}

.selected {
    color: antiquewhite;
    background-color: steelblue; 
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight:  700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    button {
        border: none;
        background: none;
        text-transform: uppercase;
        height: 100%;
        color: steelblue;
        font-weight:  700;
        font-size: inherit;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }
    /* #message {
        position: relative;
        float: left;
       
    } */

    #stripe {
        background-color: antiquewhite;
        height: 50px;
        text-align: center;
    }

    .stripeContent {
        font-size: 10px;
        position: relative;
        float: left;

    }
  }